.maker-card {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  border-radius: 0.5rem;
  grid-template-columns: 1fr;
  border: 3px solid var(--dark-color);
}

.maker-card > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  border: 1px solid var(--dark-color);
}

.maker-card > .maker-card__actions {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.maker-card > .maker-card__models {
  grid-column: 1/-1;
}

.maker-card > .maker-card__no-models {
  grid-column: 1/-1;
}

@media (min-width: 650px) {
  .maker-card {
    grid-template-columns: repeat(4, 1fr);
  }
}
